*{
     /* padding: 0; */
     margin: 0;
     width: 100%;
     height: 100%;
}
table{
     width: 100%;
     height: 100%;
     border-collapse: collapse;
}
td{
     border: 1px solid black;
     /* height: 100%; */
     padding: 10px;
}
.first-cell{
     background-color: #c0c57c;
     width: 50%;
}
.second-cell{
     background-color: #f7c3b1;
     width: 50%;
}